@charset "utf-8";
$novalnetordermanagement-container-background: var(--bo-base-background);
$novalnetordermanagement-container-font-family: var(--bo-font-family);
$novalnetordermanagement-container-font-size: $font-size__base;
$novalnetordermanagement-label-text-color: var(--bo-text-color);
